[package]
name = "hunty-core"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]
doctest = false

[dependencies]
soroban-sdk = { workspace = true }
thiserror = "2.0.18"

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }

